@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}
:root,
body,
html {
  font-family: "Noto Serif KR", serif;
  box-sizing: border-box;
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
nav,
p,
small,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

ul, li{
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
